.btn {
  box-sizing: border-box;
  display: block;
  padding: 14px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid #444444;
  transition: 150ms;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
