.btn {
  display: block;
  padding: 14px;
  width: 100%;
  text-transform: uppercase;

  @mixin font bold, 17px, 20px, #444444;
  text-align: center;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
}
