.catalog {
  padding-top: 30px;
  @mixin font normal, 13px, 30px, #444444;

  background-color: #ffffff;
}

.catalog__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 75px 0;
  @mixin font bold, 27px, 30px, #000000;
  text-align: center;

  background-color: #f1f1f1;
}

.catalog__item {
  margin: 0;
  margin-bottom: 30px;

  border: 1px solid #ededed;
}

.catalog__item-name {
  @mixin font bold, 17px, 24px, #000000;
}

.catalog__item-spec {
  @mixin font normal, 13px, 30px, #444444;
}

.catalog__item-price {
  @mixin font bold, 15px, 24px, #000000;
}
