.contacts {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 39px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;

  background-color: #ffffff;
}

.contacts__wrapper {
  position: relative;
}

.contacts__title {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.contacts__list {
  margin-bottom: 37px;
  padding: 0;
}

.contacts__item {
  display: flex;
  margin: 0;
  margin-bottom: 30px;

  list-style: none;
}

.contacts__item-name {
  flex-basis: 75px;
}

.contacts__item-value {
  flex-basis: 165px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;

  &--email {
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
    transition: 150ms;
  }
}

.contacts__interactive-map {
  margin-bottom: 39px;


  /*для наглядности добавил размер*/
  width: 100%;
  height: 457px;

}

.contacts__map-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 457px;
  background: #eae6dd url("../img/map-mobile@1x.jpg") 50% 50% no-repeat;
}

@media (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contacts__item-value--email:hover {
  color: rgba(70, 193, 174, 1);
  border-bottom-color: rgba(70, 193, 174, 1);
}

.contacts__item-value--email:active {
  color: rgba(70, 193, 174, 0.3);
  border-bottom-color: rgba(70, 193, 174, 0.1);
}

@media ($tablet-widths) {
  .contacts {
    padding-top: 42px;
    padding-bottom: 57px;
  }
  .contacts__wrapper::before {
    position: absolute;
    right: 36px;
    top: 0;
    content: "";
    width: 47px;
    height: 81px;
    background: url("../img/icon-flag.svg") no-repeat;
  }
  .contacts__title {
    margin-left: -4px;
    padding-top: 16px;
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__list {
    margin-bottom: 26px;
    display: flex;
    align-items: flex-start;
  }
  .contacts__item {
    flex-basis: 334px;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__item-value {
    flex-grow: 1;
    font-size: 17px;
    line-height: 30px;
    &--email {
      flex-grow: 0;
    }
  }
  .contacts__interactive-map {
    margin-bottom: 55px;
  }
  .contacts .btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__map-wrapper {
    background-image: url("../img/map-tablet@1x.jpg");
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-tablet@2x.jpg");
    background-size: 768px auto;
  }
}

@media ($desktop-widths) {
  .contacts {
    padding-top: 66px;
    padding-bottom: 105px;
  }
  .contacts__wrapper {
    padding-left: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 457px;
    flex-wrap: wrap;
  }
  .contacts__wrapper::before {
    left: 113px;
    top: 62px;
  }
  .contacts__title {
    margin-left: -6px;
    margin-bottom: 11px;
    padding-top: 70px;
    width: 300px;
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__list {
    flex-wrap: wrap;
    width: 300px;
    order: 2;
  }
  .contacts__interactive-map {
    width: 525px;
    order: 4;
  }
  .contacts__map-wrapper {
    left: auto;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
  }
  .contacts .btn {
    margin: 0;
    order: 3;
    width: 230px;
  }
}

@media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .contacts__map-wrapper {
    background-image: url("../img/map-desktop@2x.jpg");
    background-size: 525px auto;
  }
}
