.intro {
  @mixin font bold, 19px, 24px, #010000;

  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 49.5% -16%;
  background-repeat: no-repeat;
}

.intro__wrapper {
  margin: 0 auto;
  width: 320px;
}

.intro__title {
  margin: 0 10%;
  padding: 70px 0 122px 0;
  @mixin font bold, 27px, 30px, #010000;
  text-align: center;
}

.intro__link {
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 9%;
  padding-right: 40%;
  display: block;
  @mixin font bold, 19px, 24px, #ffffff;
  text-decoration: none;

  &--accessory {
    background-color: #63d1bb;
  }
  &--toys {
    background-color: #56c3b2;
  }
}

.intro__link--accessory::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 62px;
  right: 11%;
  top: 23px;
  background: url("../img/icon-interior.svg");
  background-size: 42px 62px;
}

.intro__link--toys::after {
  position: absolute;
  content: "";
  width: 61px;
  height: 61px;
  right: 8%;
  top: 20px;
  background: url("../img/icon-toy.svg");
  background-size: 61px 61px;
}

@media ($tablet-widths) {
  .intro {
    position: relative;
    margin-bottom: 22px;
  }
  .intro::after {
    position: absolute;
    bottom: -13px;
    content: "";
    width: 100%;
    height: 24px;
    background: url("../img/border-pattern-tablet-white.png") repeat-x;
  }
  .intro__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .intro__title {
    padding-top: 153px;
    padding-bottom: 373px;
    margin: 0;
    @mixin font bold 43px 50px #000000;
  }
  .intro__link {
    @mixin font bold 20px 30px #ffffff;
    padding-top: 28px;
    padding-left: 35px;
    flex-grow: 1;
    width: 50%;
  }
}

@media ($desktop-widths) {
  .intro {
    margin-bottom: 46px;
  }
  .intro::after {
    bottom: -18px;
    content: "";
    height: 34px;
    background: url("../img/border-pattern-desktop-white.png") repeat-x;
  }
  .intro__wrapper {
    width: 1150px;
  }
  .intro__title {
    padding-top: 153px;
    padding-bottom: 359px;
    margin: 0;
    @mixin font bold 53px 57px #000000;
  }
}
