.intro {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #010000;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 49.5% -19px;
  background-repeat: no-repeat;
}

.intro__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

.intro__title {
  width: 260px;
  margin: 0 auto;
  padding: 70px 0 122px 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #010000;
  text-align: center;
}

.intro__link {
  box-sizing: border-box;
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: 150ms;
  &--accessory {
    background-color: #63d1bb;
  }
  &--toys {
    background-color: #56c3b2;
  }
}

.intro__link-text {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  display: block;
  width: 260px;
  padding-right: 130px;
  transition: 150ms;
  &--accessory::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 62px;
    right: 5px;
    top: -2px;
    background: url("../img/icon-interior.svg");
    background-size: 42px 62px;
    opacity: 0.5;
    transition: 150ms;
  }
  &--toys::after {
    position: absolute;
    content: "";
    width: 61px;
    height: 61px;
    right: -4px;
    top: -5px;
    background: url("../img/icon-toy.svg");
    background-size: 61px 61px;
    opacity: 0.5;
    transition: 150ms;
  }
}

.intro__link:hover .intro__link-text {
  padding-bottom: 5px;
  &::after {
    opacity: 0.7;
  }
}
.intro__link:active .intro__link-text {
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.3);
  &::after {
    opacity: 0.3;
  }
}

@media ($tablet-widths) {
  .intro {
    position: relative;
    margin-bottom: 22px;
    background-color: #fafafa;
    background-image: url("../img/hero-desktop.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  .intro::after {
    position: absolute;
    bottom: -13px;
    content: "";
    width: 100%;
    height: 24px;
    background: url("../img/border-pattern-tablet-white.png") repeat-x;
  }
  .intro__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .intro__title {
    width: 100%;
    padding-top: 153px;
    padding-bottom: 373px;
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .intro__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-left: 35px;
    flex-grow: 1;
    width: 50%;
  }
  .intro__link-text {
    margin: 0;
  }
  .intro__link-text--accessory::after {
    top: 2px;
    right: -4px;
  }
  .intro__link-text--toys::after {
    top: 3px;
    right: -5px;
  }
}

@media ($desktop-widths) {
  .intro {
    margin-bottom: 46px;
    background-position: 52% -1px;
  }
  .intro::after {
    bottom: -18px;
    content: "";
    height: 34px;
    background: url("../img/border-pattern-desktop-white.png") repeat-x;
  }
  .intro__wrapper {
    width: 1150px;
  }
  .intro__title {
    padding-top: 153px;
    padding-bottom: 359px;
    margin: 0;
    font-size: 53px;
    line-height: 57px;
  }
  .intro__link {
    padding-left: 37px;
  }
  .intro__link-text {
    padding-right: 300px;
    width: 449px;
  }
}
