.page-header {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.page-header__logo {
  margin: 0 auto;
  width: 86px;
  height: 35px;
  padding-top: 21px;
  padding-bottom: 22px;
}

.page-header__delivery-info {
  display: none;
  text-align: right;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.page-header__link {
  transition: 150ms;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__link:active {
  opacity: 0.3;
}

.page-header__link--current:hover {
  opacity: 1;
}

.page-header__link--current:active {
  opacity: 1;
}

@media ($tablet-widths) {
  .page-header {
    border-top: none;

    /*для наглядности*/
    min-height: 89px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .page-header__delivery-info {
    max-width: 45%;
    z-index: 1;
    display: block;
    position: absolute;
    top: 106px;
    right: 50px;
  }
  .page-header__logo {
    margin: 0;
    margin-left: -2px;
    width: 113px;
    height: 46px;
    padding-top: 22px;
    padding-bottom: 21px;
    z-index: 1;
  }
}

@media ($desktop-widths) {
  .page-header {
    border-top: none;

    /*для наглядности*/
    min-height: 89px;
  }

  .page-header__wrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .page-header__logo {
    align-self: center;
    width:149px;
    height: 72px;
    padding-top: 9px;
    padding-bottom: 7px;
  }
  .page-header__delivery-info {
    right: 50px;
  }
}
