.page-footer {
  margin: 0;
  padding: 23px 0;
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;
  background-color: #f1f1f1;;
}

.page-footer__title {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;
}

.page-footer__logo {
  display: none;
}

.page-footer__socials {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 52px;
  padding-top: 6px;
  padding-bottom: 31px;
  margin-bottom: 11px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.page-footer__copyright-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  padding-right: 57px;
  &::after {
    position: absolute;
    content: "";
    width: 41px;
    height: 38px;
    top: -6px;
    right: -6px;
    background: url("../img/htmlacademy.svg") no-repeat;
    background-size: cover;
  }
  &:hover::after {
    background: url("../img/htmlacademy-hover.svg") no-repeat;
    background-size: cover;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__link {
  position: relative;
  display: flex;
  width: 27px;
  margin-right: 33px;
  text-indent: -9999px;
  transition: 150ms;
  &::after {
    position: absolute;
    content: "";
    top:0;
    right: 0;
  }
  &--inst::after {
    width: 22px;
    height: 21px;
    background: url("../img/icon-insta.svg") no-repeat;
  }
  &--fb::after {
    top: -5px;
    left: 8px;
    width: 15px;
    height: 29px;
    background: url("../img/icon-fb.svg") no-repeat;
  }
  &--twitter::after {
    width: 24px;
    height: 20px;
    background: url("../img/icon-twitter.svg") no-repeat;
  }
}

.page-footer__link {
  &--inst:hover::after {
    background-image: url("../img/icon-insta-green.svg");
  }
  &--fb:hover::after {
    background-image: url("../img/icon-fb-green.svg");
  }
  &--twitter:hover::after {
    background-image: url("../img/icon-twitter-green.svg");
  }
  &--inst:active::after {
    opacity: 0.3;
  }
  &--fb:active::after {
    opacity: 0.3;
  }
  &--twitter:active::after {
    opacity: 0.3;
  }
}

@media ($tablet-widths) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 56px;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: flex;
  }
  .page-footer__socials {
    border: none;
    margin-bottom: 0;
    margin-left: 106px;
    margin-top: 14px;
    padding: 0;
  }
  .page-footer__title {
    margin: 0;
    margin-top: 14px;
  }
  .page-footer__link {
    width: 27px;
  }
  .page-footer__image-link {
    padding-top: 2px;
    width: 102px;
    height: 34px;
    fill: #231f20;
    transition: 150ms;
  }
  .page-footer__image-link:hover {
    fill: #46c1ae;
  }
  .page-footer__image-link:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
  .page-footer__image-link--current:hover {
    fill: #231f20;
  }
  .page-footer__image-link--current:active {
    fill: #231f20;
    opacity: 1;
  }
  .page-footer__copyright-link {
    &::after {
      top: -5px;
      right: -7px;
    }
  }
}
