.page-header {
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.page-header__logo {
  padding-top: 21px;
  padding-bottom: 16px;
}

.page-header__delivery-info {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.page-header__link {
  transition: 150ms;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__link:active {
  opacity: 0.3;
}

.page-header__current:hover {
  opacity: 1;
}

.page-header__current:active {
  opacity: 1;
}

@media ($tablet-widths) {
  .page-header {
    border-top: none;

    /*для наглядности*/
    min-height: 89px;
  }

  .page-header__wrapper {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .page-header__delivery-info {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: -42px;
    right: 50px;
  }
}

@media ($desktop-widths) {
  .page-header {
    border-top: none;

    /*для наглядности*/
    min-height: 89px;
  }

  .page-header__wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}
